{:paths ["src" "resources"]
 :deps {metosin/reitit {:mvn/version "0.7.1"}
        metosin/muuntaja {:mvn/version "0.6.10"}
        hiccup/hiccup {:mvn/version "2.0.0-RC3"}}
 :aliases {:test {:extra-paths ["test"]}
           :marginalia
           {:extra-deps {marginalia/marginalia {:mvn/version "0.9.2"}}
            :main-opts  ["-m" "marginalia.main"
                         "-n" "teia"
                         "-f" "index.html"
                         "-D" "Teia is a Simple, Fast and Reliable HyperMedia library."
                         "-L" "-X"
                         "src"]}}}
